*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 50vw;
    height: 90vh;
    margin:auto;
}

.container{
    margin-top: 5vh;
    font-size: large;
}

.header{
    margin-top: 5vh;
}

.bold{
    font-weight: bolder;
    margin-bottom: 2vh ;
}

.main{
    margin-top: 6vh;
}

.camera-perm,
.microphone-perm,
.location-perm{
    margin-top: 3vh;
    border: solid 3px black;
    border-radius: 20px;
    padding: 10px;
}

.footer{
    position: absolute;
    bottom: 0px;
}

.permissions-btn-class{
    /* width: 50vw;
    border: solid 3px black;
    border-radius: 10px;
    padding: 10px;
    background-color: greenyellow; */
    padding: 100;
}


